.countDown-container {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0rem;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 18px;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}

